<div class="">
	<div id="homePanel" class="section-title" ng-click="toggleTab('home')">
		<div ng-class="{'down-arrow':!expandedTabs.home, 'up-arrow':expandedTabs.home}"></div>
		Home
	</div>
	<div class="subsection" ng-show="expandedTabs.home">
		<a ui-sref="aboutUs">About US</a>
		<a ui-sref="whatWeDo">What we do</a>
		<a ui-sref="contactUs">Contact US</a>
	</div>
</div>
<div class="">
	<div id="loginPanel" class="section-title" ng-click="toggleTab('login')">
		<div ng-class="{'down-arrow':!expandedTabs.login, 'up-arrow':expandedTabs.login}"></div>
		LogIn
	</div>
	<div class="subsection" ng-show="expandedTabs.login" ng-controller="usersController">
		<form name="loginForm">
			<label class="menu-label" for="userName">User Name:</label><input type="text" name="userName" ng-model="loginUser" 
				class="menu-input" ng-change="verifUser(loginUser)" ng-model-options="{debounce : 1000}">

			<label class="menu-label" for="password">Password:</label><input type="password" name="password" ng-model="loginPass" class="menu-input">
			<button class="main-menu-submit submit-button" ng-click="login()"> Submit </button>
			<a class="main-menu-register-link" ui-sref="register">Register Here</a>
		</form>
		<div class="error-message" ng-if="!userExist && loginForm.userName.$dirty">
			<p>This user does not exists!</p>
		</div>
		<div> username: {{userFname}}</div>
	</div>
</div>
<div class="">
	<div id="userCpPanel" class="section-title" ng-click="toggleTab('userCP')">
		<div ng-class="{'down-arrow':!expandedTabs.userCP, 'up-arrow':expandedTabs.userCP}"></div>
		User CP
	</div>
	<div class="subsection" ng-show="expandedTabs.userCP">
		<a href="">Profile</a>
		<a href="">My anounces</a>
		<a href="">Favorites</a>
		<a ui-sref="registeredUsers">Registered Users</a>
	</div>
</div>
<div class="">
	<div id="productsPanel" class="section-title" ng-click="toggleTab('products')">
		<div ng-class="{'down-arrow':!expandedTabs.products, 'up-arrow':expandedTabs.products}"></div>
		Products
	</div>
	<div class="subsection" ng-show="expandedTabs.products">
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
	 	<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>					
	</div>
</div>
<div class="" >
	<div id="searchPanel" class="section-title" ng-click="toggleTab('search')">
		<div ng-class="{'down-arrow':!expandedTabs.search, 'up-arrow':expandedTabs.search}"></div>
		Search
	</div>
	<div class="subsection" ng-show="expandedTabs.search">
		<label class="menu-label" for="carMake">Make:</label><input type="text" name="carMake" class="menu-input">
		<label class="menu-label" for="carModel">Model:</label><input type="text" name="carModel" class="menu-input">
		<label class="menu-label" for="price">Price:</label><input type="text" name="priceMin" class="small-menu-input"> to <input type="text" name="priceMax" class="small-menu-input">
		<label class="menu-label" for="year">Year:</label><input type="text" name="yearMin" class="small-menu-input"> to <input type="text" name="yearMax" class="small-menu-input">
	</div>
</div>