.header{
	box-shadow: 5px 10px 20px #888888;
	margin-top: 30px;
	
	a:link, a:active, a:hover, a:visited{
		text-decoration: none;
		color: #000;
		h1{
			margin: 20px 0;
		}
	}

}
.left-column{
	float: left;
	min-height: 800px;
	padding-top: 30px;
}
.content{
	float: left;
	min-height: 800px;
	padding-top: 30px;
}
.clearfix:after {
	clear: both;
}
.main-menu {
	.section-title{
		width: 100%;
		height: 100%;
		position: relative;
		font-weight: bold;
		padding: 10px 0 10px 20px;
		text-align: left;
		background: linear-gradient(180deg, #c7ccca 20% , #fff 80% );
		border: 1px solid #c7ccca;
		cursor: pointer;
		&:hover{
			background: linear-gradient(180deg, #c7ccca 40% , #fff 80% );
		}
		.down-arrow{
			position: absolute;
			left: calc(100% - 25px);
			width: 20px;
			height: 20px;
			background-image: url('../images/down_arrow.png') ;
			background-size: 20px 20px;
		}
		.up-arrow{
			position: absolute;
			left: calc(100% - 25px);
			width: 20px;
			height: 20px;
			background-image: url('../images/up_arrow.png') ;
			background-size: 20px 20px;
		}
	}
	.subsection{
		padding: 10px 0;
		a:link, a:active, a:visited{
			display: inline-block;
			width: 100%;
			padding-left: 30px;
			text-decoration: none;
			color: #000;
		}
		a:hover{
			font-weight: bold;
		}
		.menu-label{
			display: inline-block;
			width: 110px;
			padding-right: 5px;
		}
		.small-menu-input{
			width: 55px;
		}
		.menu-input{
			width: 110px;
		}
		.main-menu-register-link{
			margin-left: 80px;
		}
	}
	.main-menu-submit{
		margin: 10px 0 10px 110px;
	}
}
.submit-button{
	width: 110px;
}
.form-label{
	display: inline-block;
	width: 150px;
	font-size: 14px;
	position: relative;

	&.required:after{
			content: '*';
			font-size: 20px;
			color: red;
			position: absolute;
			top: -10px;
					}
	
}
.form-input {
	display: inline-block;
	width: 200px;
	font-size: 14px;
}
.pull-left {
	float: left;
}
.mt-15 {
	margin-top: 15px;
}
.align-top {
	vertical-align: top;
}
.registration-form{
	.error-message, .success-message{
		display: inline-block;
		p{
			margin: 0;
		}
	}
	.success-message{
		position: relative;
		&.icon{
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			background-image: url('../images/success.png') ;
			background-size: 25px 25px;
		}
	}
}
.error-message {
	color: red;
}
.success-message {
	color: green;
}
.registered-users {
	.small-cell{
		min-width: 40px;
	}
	.middle-cell{
		min-width: 150px;
	}
}
input[type="text"].error, input[type="password"].error,input[type="email"].error{
	background-color: #F5B7B1;
}
.disabled{
	color: grey;
}
.even-background{
	background-color: #e6e6e6;
}