<div id="registerForm" class="">
	<form action="">
		<div class="row">
			<div class="">
				<div class="">First name:</div>
				<div class=""><input type="text" name="" ng-model=""></div>
			</div>
			<div class="">
				<div class="">Last name:</div>
				<div class=""><input type="text" name="" ng-model=""></div>
			</div>
			<div class="">
				<div class="">Password:</div>
				<div class=""><input type="password" name="" ng-model=""></div>
			</div>
			<div class="">
				<div class="">Re-type Pass:</div>
				<div class=""><input type="password" name="" ng-model=""></div>
			</div>
			<div class="">
				<div class="">Gender:</div>
				<div class="">
					<input type="checkbox" name="gender" ng-model="">
					<input type="checkbox" name="gender" ng-model="">
				</div>
			</div>
			<div class="">
				<div class="">Age:</div>
				<div class="">
					<select>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
					</select>
				</div>
			</div>
			<div class="">
				<div class="">About you:</div>
				<div class=""><textarea rows="5" cols="40" placeholder="Type here something about you..."></textarea></div>
			</div>
			<div class="">
				<div class=""><input type="submit" name="" value="REGISTER"></div>
			</div>
		</div>
	</form>
</div>
