<div ng-controller="registeredUsersController" ng-init="getRegisteredUsers()">
	<br/>

	<table class="registered-users">
		<thead>
			<tr>
				<th class="small-cell">No.</th>
				<th class="middle-cell">User</th>
				<th class="middle-cell">Full Name</th>
				<th class="small-cell">Age</th>
				<th class="middle-cell">E-mail</th>
				<th class="middle-cell">Gender</th>
				<th class="middle-cell">Operations</th>
			</tr>
		</thead>
		<tr ng-repeat="user in registeredUsers" ng-class-even="'even-background'">
			<td class="small-cell">{{$index}}</td>
			<td class="middle-cell">{{user.user}}</td>
			<td class="middle-cell">{{user.name}}</td>
			<td class="small-cell">{{user.age}}</td>
			<td class="middle-cell">{{user.email}}</td>
			<td class="middle-cell">{{user.gender}}</td>
			<td class="middle-cell">
				<span ng-click="">A</span>
				<span ng-click="">X</span>
				<span ng-click="">B</span>
			</td>
		</tr>
	</table>
</div>