<div class="registration-form">
	<h2>REGISTER</h2>
	<form name="registerForm">
		<div class="col-xs-12">
			<div class="row mt-15">
				<div class="form-label required">First name:</div>
				<div class="form-input">
					<input type="text" name="fname" ng-model="userData.fname" required
					ng-class="{'error':registerForm.fname.$touched && registerForm.fname.$invalid}">
				</div>
				<div class="error-message" ng-if="registerForm.fname.$touched && registerForm.fname.$invalid">
					<p>This is a mandatory field!</p>
				</div>
				<div class="success-message icon" ng-if="registerForm.fname.$touched && registerForm.fname.$valid">
					&nbsp;
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label required">Last name:</div>
				<div class="form-input">
					<input type="text" name="lastName" ng-model="userData.lname" required
					ng-class="{'error':registerForm.lastName.$touched && registerForm.lastName.$invalid}">
				</div>
				<div class="error-message" ng-if="registerForm.lastName.$touched && registerForm.lastName.$invalid">
					<p>This is a mandatory field!</p>
				</div>
				<div class="success-message icon" ng-if="registerForm.lastName.$touched && registerForm.lastName.$valid">
					&nbsp;
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label required">Password:</div>
				<div class="form-input">
					<input type="password" name="password" ng-model="userData.password" required
					ng-class="{'error':(registerForm.password.$touched && registerForm.password.$invalid) || (registerForm.password.$touched && !verifPass())}">
				</div>
				<div class="error-message" ng-if="registerForm.password.$touched && registerForm.password.$invalid">
					<p>This is a mandatory field!</p>
				</div>
				<div class="success-message icon" ng-if="registerForm.password.$touched && registerForm.password.$valid && verifPass()">
					&nbsp;
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label required">Re-type Pass:</div>
				<div class="form-input">
					<input type="password" name="rePassword" ng-model="userData.retypePass" required
					ng-class="{'error': (registerForm.rePassword.$touched && registerForm.rePassword.$invalid) || (registerForm.rePassword.$touched && !verifPass())}">
				</div>
				<div class="error-message" ng-if="registerForm.rePassword.$touched && registerForm.rePassword.$invalid">
					<p>This is a mandatory field!</p>
				</div>
				<div class="error-message" ng-if="registerForm.password.$dirty && registerForm.rePassword.$dirty && !verifPass()">
					{{message}}
				</div>
				<div class="success-message icon" ng-if="registerForm.rePassword.$touched && registerForm.rePassword.$valid && verifPass()"">
					&nbsp;
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label required">Gender:</div>
				<div class="form-input">
					<input type="radio" name="gender" ng-model="userData.gender" value="male" checked="checked"> Male
					<input type="radio" name="gender" ng-model="userData.gender" value="female"> Female
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label required">E-mail:</div>
				<div class="form-input">
					<input type="email" name="email" ng-model="userData.email" required=""
					ng-class="{'error':registerForm.email.$touched && registerForm.email.$invalid}">
				</div>
				<div class="error-message" ng-if="registerForm.email.$touched && registerForm.email.$invalid">
					Type here your email address!
				</div>
				<div class="success-message icon" ng-if="registerForm.email.$touched && registerForm.email.$valid">
					&nbsp;
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label">Age:</div>
				<div class="form-input">
					<select ng-model="userData.age">
						<option ng-repeat="age in ages" value="{{age}}">{{age}}</option>
					</select>
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label align-top">About you:</div>
				<div class="form-input">
					<textarea rows="5" cols="40" placeholder="Type here something about you..." ng-model="userData.aboutYou"></textarea>
				</div>
			</div>
			<div class="row mt-15">
				<div class="form-label">&nbsp;</div>
				<div class="form-input"><button ng-click="registerUser()" ng-disabled="registerForm.$invalid && !verifPass()" ng-class="{'disabled':registerForm.$invalid && !verifPass()}">REGISTER</button></div>
			</div>
		</div>
	</form>
</div>