<div class="">
	<div id="homePanel" class="section-title" ng-click="toggleTab('home')">Home</div>
	<div class="subsection" ng-show="expandedTabs.home">
		<a ui-sref="aboutUs">About US</a>
		<a ui-sref="whatWeDo">What we do</a>
		<a ui-sref="contactUs">Contact US</a>
	</div>
</div>
<div class="">
	<div id="loginPanel" class="section-title" ng-click="toggleTab('login')">LogIn</div>
	<div class="subsection" ng-show="expandedTabs.login">
		<label class="menu-label" for="userName">User Name:</label><input type="text" name="userName" class="menu-input">
		<label class="menu-label" for="password">Password:</label><input type="password" name="password" class="menu-input">
		<button class="main-menu-submit submit-button"> Submit </button>
			<a class="main-menu-register-link" href="">Register Here</a>
	</div>
</div>
<div class="">
	<div id="userCpPanel" class="section-title" ng-click="toggleTab('userCP')">User CP</div>
	<div class="subsection" ng-show="expandedTabs.userCP">
		<a href="">Profile</a>
		<a href="">My anounces</a>
		<a href="">Favorites</a>
	</div>
</div>
<div class="">
	<div id="productsPanel" class="section-title" ng-click="toggleTab('products')">Products</div>
	<div class="subsection" ng-show="expandedTabs.products">
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
	 	<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>
		<a href="">Produs</a>					
	</div>
</div>
<div class="" >
	<div id="searchPanel" class="section-title" ng-click="toggleTab('search')">Search</div>
	<div class="subsection" ng-show="expandedTabs.search">
		<label class="menu-label" for="carMake">Make:</label><input type="text" name="carMake" class="menu-input">
		<label class="menu-label" for="carModel">Model:</label><input type="text" name="carModel" class="menu-input">
		<label class="menu-label" for="price">Price:</label><input type="text" name="priceMin" class="small-menu-input"> to <input type="text" name="priceMax" class="small-menu-input">
		<label class="menu-label" for="year">Year:</label><input type="text" name="yearMin" class="small-menu-input"> to <input type="text" name="yearMax" class="small-menu-input">
	</div>
</div>